html {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    
}

body {
    margin: 0;
}

.main {
    background-color: #bf002d;
    height: 90vh;
    overflow: hidden;
}

.mainContent {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    /* gap:  max(50px, 5%); */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

.right {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    
}

@media screen and (max-width:1280px){
    .right {
        font-size: 1.4em;
        max-width: 600px;
    }
    .left {
        font-size: 1.3em;
    }
    .pfp {
        width: 175px;
    }
}

h1 {
    margin: 0;
}

.username {
    width: 100%;    
    font-weight: 200;
    text-align: center;
    text-shadow: 3px 3px 5px #2e0005;
}

.pfp {
    max-width: 300px;
    box-shadow: 5px 0px 20px #2e0005, -5px 0px 20px #2e0005, 0px 5px 20px #2e0005, 0px -5px 20px #2e0005;
}

.second {
    background-color: #690015;
    padding: 5%;
    box-shadow: inset 0px 5px 5px #bf002d;

}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}



.navitem {
    border: 2px #bf002d solid;
    border-radius: 5px;
    text-align: center;
    padding: max(10px, 1%) max(20px, 2%);
    font-size: 1.6em;
    background-color: #bf002d;
    cursor: pointer;
}

.selectedNav {
    background-color: #f0003b;
}

.third {
    background-color: black;
    padding: 5%;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding-top: 30px;
    row-gap: 20px;
    gap: 30px
}

.socialName {
    margin-top: 20px;
    font-size: 2em;
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

