@font-face {font-family: "Arial Rounded MT Bold"; src: url("ef6bdf5ef216552c7e9869841e891ca0.eot"); src: url("ef6bdf5ef216552c7e9869841e891ca0.eot?#iefix") format("embedded-opentype"), url("ef6bdf5ef216552c7e9869841e891ca0.woff2") format("woff2"), url("ef6bdf5ef216552c7e9869841e891ca0.woff") format("woff"), url("ef6bdf5ef216552c7e9869841e891ca0.ttf") format("truetype"), url("ef6bdf5ef216552c7e9869841e891ca0.svg#Arial Rounded MT Bold") format("svg"); }

html{
    background-color: grey;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    color: white;
}

img {
    width: 85px;
    padding: 7.5px;
    filter: drop-shadow(6px 5px 0 rgba(0, 0, 0, 0.6));
}

h1 {
    margin: 0;
    padding-top: 21.4px;
    padding-bottom: 21.4px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.row {
    display: flex;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

figure {
    width: 100px;
    height: 100px;
    margin: 0;
}

figure img{
    transition: 0.1s;
    transition-property: transform;
    padding: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

figure::before {
    content: "";
    display: block;
    background-image: url("images/ui/prize_outline.png");
    background-size: cover;
    width: 100px;
    position: absolute;
    height: 100px;
    margin: -7.5px;
}

figure:hover img {
    transform: scale(1.5);
}